.map {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
    margin: 0 auto;
}
button {
    padding: 10px;
}
.locations {
    width: 50%;
    float: right;
    display: flex;
    justify-content: flex-start;
    height: 80px;
    margin: 20px 0;
}
.locations button{
    margin: 20px 0 20px 25px;
}
.maptypes {
    width: 50%;
    float: left;
    display: flex;
    justify-content: flex-end;
    height: 80px;
    margin: 20px 0;
}
.maptypes button{
    margin: 20px 25px 20px 0;
}
.separator {
    outline: solid;
    float: left;
    height: 120px;
}
.note {
    font-size: 12px;
}
